.wolsung.cards.hand {
    .window-content {
        background: none;
    }
    .hand-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .zetony {
            display: flex;
            flex-flow: row wrap;
            margin: 20px;
            img {
                border: none;
                -webkit-filter: drop-shadow(10px 5px 5px rgba(0,0,0,0.2));
                filter: drop-shadow(10px 5px 5px rgba(0,0,0,0.2));
            }
            .zeton-img:hover {
                -webkit-filter: drop-shadow(0 5px 15px #ff6400);
                filter: drop-shadow(0 5px 15px #ff6400);
            }
        }
        .karty {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            gap: 20px;
            margin: 20px;
            img {
                box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
            }
            .karta-img:hover {
                box-shadow: 0 5px 15px #ff6400;
            }
        }
    }
}