<form>
    <div class="form-group">
        <label>{{localize "wolsung.cards.hand.name"}}</label>
        <div class="form-fields">
            <input name="handName" type="text" value="{{handName}}" placeholder="{{handName}}"/>
        </div>
    </div>
</form>